undetected-chromedriver
beautifulsoup4
bs4
requests
beautifulsoup4
selenium
pandas
google-api-python-client
spotipy
pygame
fake-useragent
python-Levenshtein
sounddevice
numpy
librosa
flask
motor
bson
aiohttp
prompt_toolkit
youtube_dl
pafy
python-vlc
